<div class="flex flex-col items-center justify-center bg-pink-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
      <h2 class="text-2xl font-bold mb-6 text-center text-pink-500">Create an Account</h2>
  
      <form (ngSubmit)="onSignup()" class="space-y-4">
        <input 
          [(ngModel)]="name" 
          name="name" 
          class="border rounded w-full py-2 px-3 focus:outline-none focus:ring-2 focus:ring-pink-300" 
          placeholder="Name" 
          required
        >
        <input 
          [(ngModel)]="email" 
          name="email" 
          class="border rounded w-full py-2 px-3 focus:outline-none focus:ring-2 focus:ring-pink-300" 
          placeholder="Email" 
          required
        >
        <input 
          [(ngModel)]="password" 
          name="password" 
          type="password" 
          class="border rounded w-full py-2 px-3 focus:outline-none focus:ring-2 focus:ring-pink-300" 
          placeholder="Password" 
          required
        >
  
        <button 
          type="submit" 
          class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded w-full transition duration-300"
        >
          Sign Up
        </button>
      </form>
  
    </div>
  </div>
  